@font-face {
    font-family: "fontetech";
    src: url(..\Fontes\ShareTechMono-Regular.ttf);
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(..\Images\background\ tech\ pixelart.gif);
    background-size: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 650px;
    padding: 10px;
    margin: auto;
    margin-top: 3vw;
    background-color: rgba(107, 74, 116, 0.851);
    border-radius: 5%;
    color: rgb(230, 230, 230); text-shadow: black 0.1em 0.1em 0.5em;
   

}

.container textarea{
    resize: none;
    font-family: fontetech;
}

.selecao{
    
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    font-family: fontetech;
    
}

.codeOrdecode{
    
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    font-family: fontetech;
    
}


.botoes{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex: wrap;
    width: 300px;
    justify-content: space-around;
}

.botoes button{
    padding: 6px;
    background-color: gold;
    border: solid;
    border-radius: 10%;
    font-family: fontetech;
}

.botoes button:hover {
    background-color: goldenrod;
}


p{
    font-size: 20px;
    font-family: fontetech;
}

h1{
    font-family: fontetech;
}
